.page {
  font-family: var(--accent-font, 'IBM Plex Mono', Bold, Regular);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color, #ff0070);
  font-size: 18px;
  line-height: 130%;
}

.header {
  padding-block: var(--block-retreat);
  padding-inline: var(--block-retreat);
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "menu menu"
    "logo logo"
    "sublogo sublogo";
}

.page-title {
  grid-area: logo;
  align-self: center;
  color: var(--logo-color, #DB00FF);
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
  font-size: var(--mobile-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: 700;
  line-height: 82.5%;
}

.page-subtitle {
  grid-area: sublogo;
  display: inline-block;
  align-self: center;
  color: var(--subtitle-color, #000028);
  font-size: 18px;
  font-weight: 700;
  background: var(--accent-color, #ff0070);
  text-align: left;
}

.header__theme-menu {
  grid-area: menu;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  color: var(--decor-color, #ff0070);
  inline-size: var(--border-size, 25px);
  block-size: var(--border-size, 25px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--border-color, #ff0070);
  border-block-end: 1px solid var(--border-color, #ff0070);
  inset-inline-start: var(--block-retreat);
  inset-block-end: var(--block-retreat);
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--border-color, #ff0070);
  border-block-start: 1px solid var(--border-color, #ff0070);
  inset-inline-end: var(--block-retreat);
  inset-block-start: var(--block-retreat);
}

.decorated {
  position: absolute;
  inset-inline-end: clamp(1.25rem, 0.654rem + 2.54vw, 1.875rem);
  inset-block-start: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--decor-color, #ff0070);
  line-height: 138.889%;
}

.decorated::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--decor-color, #ff0070);
  background: var(--decor-color, #ff0070);
}

.header__theme-menu-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-block:  0px;
  padding-inline: 13px;
  color: var(--stroke-color, #ff0070);
  line-height: 100%;
  text-transform: lowercase;
  background: transparent;
  font-size: inherit;
  font-weight: 400;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: var(--border-color, #ff0070);
  cursor: default;
}

.header__theme-menu-button:hover {
  border-color: var(--opacityborder-color, #ff007040);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor
}

.header__theme-menu-button_active:disabled {
  pointer-events: none;
}

.decorated-zone {
  position: relative;
}

.main {
  display: flex;
  flex-direction: column; 
  gap: 50px;
  padding: 40px 10px;
}

.main__text {
  display: grid;
  gap: 20px; 
}

.title-retreat {
  margin-block-end: 20px;
}

.text {
  color: var(--text-color, #f1b2ce);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.title {
  color: var(--accent-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.title-decor {
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
}

.target {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.target:hover {
  border-block-end: 1px solid currentColor;
}

.target:focus {
  outline: 0;
}

.target:focus-visible {
  outline: 1px solid currentColor;
}

.container {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.main__gallery {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.main__gallery-container {
  display: grid;
  row-gap: 10px;
  column-gap: 25px;
}

.main__gallery-container-item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--block-retreat);
  padding-inline: var(--block-retreat);
}

.footer .page-title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    grid-template-areas:
      "menu menu"
      "logo logo"
      ". sublogo";
  }

  .header > .page-title {
    margin-inline-start: -2%;
  }

  .page-title {
    font-size: var(--comp-size, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  }

  .page-subtitle {
    justify-self: end;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .main__text {
    grid-template-columns: clamp(14.75rem, -0.063rem + 30.86vw, 19.688rem) 1fr;
  }

  .main__text-container {
    grid-column-start: span 2;
  }

  .main__text-mod {
    grid-column-start: 2;
  }
  
  .main__gallery {
    row-gap: 20px;
  }
  
  .main__gallery-container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }

  .main__gallery-container-item:nth-child(1) {
    grid-column-start: span 2;
  }

  .main__gallery-container-item:nth-child(2) {
    grid-row-start: span 2;
  }

  .main__gallery-container-item:nth-child(3) {
    grid-row-start: span 2;
  }

  .main__gallery-container-item:nth-child(4) {
    grid-column-start: auto;
  }

  .main__gallery-container-item:nth-child(5) {
    grid-column-start: span 2;
  }
}

@media (width >= 1024px) {
  .page-title {
    text-shadow: 4px 4px 0px var(--accent-color1, #ff0070);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  .main__text-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer .page-title {
    text-shadow: 2px 2px 0 var(--accent-color1);
  }
}